
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

//为了app.js和app.css整合进admin，去掉bootstrap和jauery相关，
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@import 'admin_project';

	.print .title{
		text-align:center;font-size:20px;font-weight:bold;
	}
	.print .call{
		text-align:left;
		margin-top:40px;
	}
	.print .content{
		text-indent:35px;
	}
	.print .content p{
		line-height:2em;
	}
	.print .inscription{
		text-align:right;
		page-break-after:always;
	}